.service-details {
  padding: 2rem;
  background-color: #000;
}

.service-details h1 {
  font-size: 3rem;
  color: #da7c25;
}

.service-details p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.service-technologies h3,
.service-offerings h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #da7c25;
}

.service-technologies ul,
.service-offerings ul {
  list-style: none;
  padding: 0;
}

.service-technologies ul li,
.service-offerings ul li {
  margin: 0.5rem 0;
  background: #b923e1;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}
